<svg:g xmlns:svg="http://www.w3.org/2000/svg" [style.cursor]="tokenGameMode() && isActivated() ? 'pointer' : null">
    <svg:rect
        [attr.x]="rect()?.x"
        [attr.y]="rect()?.y"
        [attr.width]="rect()?.w"
        [attr.height]="rect()?.h"
        [attr.fill]="'white'"
        stroke="black"
        [class.node-valid]="validationStatus() === 'valid'"
        [class.node-invalid]="validationStatus() === 'invalid'"
        [class.node-partly-valid]="validationStatus() === 'partly-valid'"
        [class.node-activated]="isActivated()"
    ></svg:rect>

    <svg:text #textEl
              [attr.data-editable]="!readonlyMode() && !tokenGameMode()"
              (pointerdown)="!readonlyMode() && $event.stopPropagation()"
              (dblclick)="onLabelDblClick($event)"
              [attr.x]="(rect()?.x ?? 0) + (rect()?.w ?? 0) / 2"
              [attr.y]="(rect()?.y ?? 0) + (rect()?.h ?? 0) / 2"
              text-anchor="middle"
              dominant-baseline="middle"
              dy="0.1em"
              font-size="12"
              fill="black"
              [attr.textLength]="textNeedsAdjustment() ? availableTextWidth() : null"
              [attr.lengthAdjust]="textNeedsAdjustment() ? 'spacingAndGlyphs' : null"
              [attr.filter]="`url(#outlineEffect-${svgDefsIdSuffix})`">{{ label() }}
    </svg:text>
</svg:g>
