.shape-btn {
    touch-action: manipulation;
    background: transparent;
    color: inherit;
    margin: 10px;
    border: 2px solid;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.toolActive {
        border: 2px solid var(--apple-primary);
        background-color: rgba(0,0,0,0.12);
    }

    &:hover {
        background: #e5e7eb;
    }

    &:disabled {
        opacity: 0.35;
        pointer-events: none;
        cursor: not-allowed;
        background: transparent;
    }

    mat-icon {
        min-height: 24px;
        flex-shrink: 0; // Verhindert Bug, bei dem der aktivierte globale Toggle-Switch dafür sorgt, dass die button icons nach rechts verschoben werden
    }
}

:host(.group-start) .shape-btn {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.toolActive {
        z-index: 1;
    }
}

:host(.group-end) .shape-btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.toolActive {
        z-index: 1;
    }
}
