<div class="toolContainer">
    <div style="display:flex; align-items:center">
        @for (toolButton of buttonInput(); track toolButton) {
            @if (activeTool() !== 'sketch' || (activeTool() === 'sketch' && toolButton === 'sketch')) {
                <app-toolbutton
                    [buttonType]="toolButton"
                    [activeType]="activeTool()"
                    (selectTool)="toggleTool(toolButton)"
                />
            }
        }

        @if (buttonInput().length > 0 && activeTool() !== 'sketch') {
            <app-toolbar-divider></app-toolbar-divider>
        }
        @if (showEraserButton() && activeTool() !== 'sketch') {
            <app-toolbutton
                buttonType="eraser"
                [activeType]="activeTool()"
                (selectTool)="toggleTool('eraser')" />
        }
        <app-toolbutton
            buttonType="clear"
            (selectTool)="onDeleteClick()" />

        @if (showLayoutButton() || (showLightbulbButton() && displayService.showHints())) {
            <app-toolbar-divider></app-toolbar-divider>
        }

        @if (showLayoutButton()) {
            <app-toolbutton
                buttonType="layout"
                (selectTool)="layout.emit()" />
        }

        @if (showLightbulbButton() && displayService.showHints()) {
            <app-toolbutton
                buttonType="lightbulb"
                [activeType]="activeTool()"
                (selectTool)="toggleTool('lightbulb')"
            />
        }

        @if (activeTool() === 'sketch') {
            <app-toolbar-divider></app-toolbar-divider>
            <app-toolbutton
                buttonType="undo"
                [disabled]="!displayService.canUndo()"
                (selectTool)="displayService.undo()"
            />
            <app-toolbutton
                buttonType="redo"
                [disabled]="!displayService.canRedo()"
                (selectTool)="displayService.redo()"
            />
        }
    </div>
    <div style="display: flex; align-items: center">
        <ng-content></ng-content>
    </div>
</div>
