/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 50px 50px 20px 50px;
    font-family: "Courier New", sans-serif;

    --apple-primary: #3f51b5;
    --apple-error: red;
    --apple-success: #009e4a;
    --apple-warning: orange;
}

:root {
    @include mat.slide-toggle-overrides((
            state-layer-size: 35px,
    ));
}

.standard-canvas {
    width: 100%;
    height: 420px;
    border-style: dotted;
    border-color: lightgrey;
    box-sizing: border-box;

    &.smooth-height {
        transition: height 0.6s ease-out; // Smoothe Animation bei Größenänderung
    }
}

.eraser-active .standard-canvas {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16"><path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z"/></svg>') 12 12, cell;
}

.lightbulb-active .standard-canvas {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16"> <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/></svg>') 12 12, cell;
}


.mat-mdc-tooltip-surface {
    max-width: 350px !important;
}

.mat-input-height-40px {
    @include mat.form-field-density(-4);
}

.red-snackbar {
    @include mat.snack-bar-overrides((
            container-color: #f44336,
            button-color: white
    ))
}

.green-snackbar {
    @include mat.snack-bar-overrides((
            container-color: #4caf50,
            button-color: white
    ))
}

.success-icon {
    @include mat.icon-overrides((
            color: var(--apple-success),
    ));
}

.warning-icon {
    @include mat.icon-overrides((
            color: var(--apple-warning),
    ));
}

.node-activated {
    stroke: var(--apple-primary);
    stroke-width: 4px;
}

// Die Validierungshinweise immer anzeigen, wenn das Feature nicht explizit durch die Klasse "hints-disabled" deaktiviert wurde
:not(.hints-disabled *) {
    &.color-valid {
        color: var(--apple-success) !important;
    }

    &.color-invalid {
        color: var(--apple-error) !important;
    }

    &.color-partly-valid {
        color: var(--apple-warning) !important;
    }

    &.node-valid {
        stroke: var(--apple-success);
        stroke-width: 3px;
    }

    &.node-invalid {
        stroke: var(--apple-error);
        stroke-width: 3px;
    }

    &.node-partly-valid {
        stroke: var(--apple-warning);
        stroke-width: 3px;
    }

    &.text-valid {
        fill: var(--apple-success);
        font-weight: bold;
    }

    &.text-invalid {
        fill: var(--apple-error);
        font-weight: bold;
    }

    &.text-partly-valid {
        fill: var(--apple-warning);
        font-weight: bold;
    }

    &.edge-valid {
        stroke: var(--apple-success);
        stroke-width: 3px;
    }

    &.edge-invalid {
        stroke: var(--apple-error);
        stroke-width: 3px;
    }

    &.edge-partly-valid {
        stroke: var(--apple-warning);
        stroke-width: 3px;
    }

    &.fill-valid {
        fill: var(--apple-success);
    }

    &.fill-invalid {
        fill: var(--apple-error);
    }

    &.fill-partly-valid {
        fill: var(--apple-warning);
    }

    &.invalid-input {
        border-color: var(--apple-error) !important;
        @include mat.form-field-overrides((
                outlined-outline-color: var(--apple-error),
                outlined-hover-outline-color: var(--apple-error),
                outlined-focus-outline-color: var(--apple-error),
        ))
    }

    &.valid-input {
        border-color: var(--apple-success) !important;
        @include mat.form-field-overrides((
                outlined-hover-outline-color: var(--apple-success),
                outlined-focus-outline-color: var(--apple-success),
                outlined-outline-color: var(--apple-success),
        ))
    }

    &.partly-valid-input {
        border-color: var(--apple-warning) !important;
        @include mat.form-field-overrides((
                outlined-outline-color: var(--apple-warning),
                outlined-hover-outline-color: var(--apple-warning),
                outlined-focus-outline-color: var(--apple-warning),
        ))
    }
}
